/* static/styles.css */

body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;

  /* Center content using Flexbox */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full height of the viewport */
}

#localVideo {
  width: 600px;
  height: 500px;
  object-fit: cover;
  border-radius: 8px; /* Optional rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for styling */
}

#interviewer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 200px;
  height: auto;
  border: 2px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#chat {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(10, 1, 1, 0.944);
  padding: 10px;
  border-radius: 10px;
  width: 310px;
  color: white;
}

#messages {
  height: 150px;
  overflow-y: auto;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #45a049;
}
#stopButton {
  background-color: red;
}
#stopButton:hover {
  background-color: crimson;
}
