<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Analyst Interview Questions</title>
    <link rel="stylesheet" href="/static/css/resources.css" />
  </head>
  <body>
    <div class="question-container">
      <h1>Data Analyst Interview Questions</h1>
      <ul>
        <li>What are the key responsibilities of a data analyst?</li>
        <li>
          Explain the difference between structured and unstructured data.
        </li>
        <li>What are some common data cleaning techniques?</li>
        <li>How do you handle duplicate data in a dataset?</li>
        <li>
          Explain the difference between INNER JOIN and OUTER JOIN in SQL.
        </li>
        <li>What is the purpose of normalization in databases?</li>
        <li>How do you deal with outliers in a dataset?</li>
        <li>What are the different types of data visualization techniques?</li>
        <li>How do you measure the effectiveness of a data visualization?</li>
        <li>What is the difference between correlation and causation?</li>
        <li>How would you perform exploratory data analysis (EDA)?</li>
        <li>What is A/B testing and why is it important?</li>
        <li>How do you analyze time-series data?</li>
        <li>Explain the importance of SQL in data analysis.</li>
        <li>
          What are the key differences between Excel and SQL for data analysis?
        </li>
      </ul>
      <a href="{{url_for('resources')}}" class="back-link"
        >Back to Job Titles</a
      >
    </div>
  </body>
</html>
